{% extends 'base.html' %}


{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="col-md-10">
    {% for beer in beer %}
    <div class="card mb-3">
        <div class="card-header">
            Name: {{ beer.name }}
        </div>
        <div class="card-body">
            <h5 class="card-title">brewery: {{ beer.brewery}}, style: {{ beer.beer_style }}</h5>
            <p class="card-text">{{ beer.description }}</p>
            <h6 class="card-title">ABV: {{ beer.abv }}, OG: {{ beer.og }}, IBU: {{ beer.ibu }}</h6>
            <h6 class="card-title">Price per 0.5L: {{ beer.price_per_05 }}</h6>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
